{% extends 'picsApp/base.html' %}
{% load staticfiles %}

{% block title %}Upload an Image{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'picsApp/css/upload.css' %}" />
{% endblock %}


{% block content %}
    <h1 class="darkish">Upload a nice picture!!</h1>  
    <form id="uploadForm" action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="clearfix">
        <div class="simpleSpacer"></div>
        {{ form }}
        <input type="submit" class="button" value="Upload My Pic!" />
      </div>
      
      <div class="simpleSpacer"></div>
    </form>
{% endblock %}