/*
    Amtex Training Project
    "Image Upload Program"
       
      Sandeep Jadoonanan
       October 24, 2014
*/

html, body, div, ul, li, p, span, a, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}


/* ------------ Box-sizing technique taken from Paul Irish ------------ */
/* ----- http://www.paulirish.com/2012/box-sizing-border-box-ftw/ ----- */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* -------------------------------------------------------------------- */


/* ------------- Clear-fix technique taken from Paul Irish ------------ */
/* ----------- http://css-tricks.com/snippets/css/clear-fix/ ---------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }

.clearfix { display: block; }
/* -------------------------------------------------------------------- */

body {
  background-color: #F9F9F9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

hr {
  background-color: white;
  border: 1px solid rgb(207, 207, 207);
  border-bottom: none;
  width: 80%;
}

.darkish {
  color: #333;
}

#page-main {
  width: 1000px;
  margin: 0 auto;
}

#page-header {
  background-color: #0F233C;
  color: #CDDAE2;
  padding: 10px 0px;
}

#page-header-inner {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

#page-header h1{
  
}

#page-header h1>a, #page-header p>a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

#page-header p{
  margin-top: 9px;
  color: #517DA0;
}

#small-navbar {
  margin-top: 17px;
}

#small-navbar p a{
  font-size: 12px;
  color: #FFF0B3;
}

#page-footer {
  background-color: #070F1A;
  color: #264566;
  padding: 20px 0px;
  font-size: 14px;
}

#page-footer-inner {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

#page-footer p{
  
}

#page-footer p.copyright{
  font-size: 12px;
  color: #244E7C;
  margin-top: 10px;
}

#helpful-links {
  margin-top: 36px;
}

#helpful-links #title {
  color: #B2CC6E;
  margin-bottom: 20px;
}

#helpful-links a{
  text-decoration: none;
  color: #44BDA9;
  font-size: 16px;
}

#page-content {
  padding: 40px 10px;
  text-align: center;
}

#homeMenu {
  padding: 30px 0px;
}

#homeMenu h3{
  
}

#homeMenu h3 a{
  text-decoration: none;
}


/* ------------- Button Style taken from: http://www.bestcssbuttongenerator.com/ ------------ */
/* ------------------------------------------------------------------------------------------ */
.homeButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
  background-color:#77d42a;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:arial;
  font-size:20px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}
.homeButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
  background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
  background-color:#5cb811;
}
.homeButton:active {
  position:relative;
  top:1px;
}
/* ------------------------------------------------------------------------------------------ */
/* ------------- Button Style taken from: http://www.bestcssbuttongenerator.com/ ------------ */




/* ------------- Button Style taken from: http://www.bestcssbuttongenerator.com/ ------------ */
/* ------------------------------------------------------------------------------------------ */
.navButton {
  -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  box-shadow:inset 0px 34px 0px -15px #b54b3a;
  background-color:#a73f2d;
  border:1px solid #241d13;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
}
.navButton:hover {
  background-color:#b34332;
}
.navButton:active {
  position:relative;
  top:1px;
}
/* ------------------------------------------------------------------------------------------ */
/* ------------- Button Style taken from: http://www.bestcssbuttongenerator.com/ ------------ */
